	<div class="panel">
		
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
					<div class="panel-heading" style="background: #3F51B5;">Invoice
						<span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span>
					</div>
				<div class="panel-body">
				<hr>
				<div class="row">
					<div class="col-md-4 col-lg-2">
						<div class="text-center " style="padding: 10px;background: #3F51B5; ">
							<h4 class="text-white" style="color: white;">big-computer</h4>
						</div>
					</div>
					<div class="col-md-4 col-lg-3">
						<address>
							<br>
    						
    						
    						<br>
    						
    					</address>
					</div>
					<div class="col-md-4 col-lg-7">
						<h5></h5>
						Tanggal Order :  
					</div>
				</div>
				<br>
    			<div class="row">
    				<div class="col-xs-6">
    					<address>
    						<strong>Dibayar ke:</strong><br>
    						<br>
    					</address>
                        <address>
                        <strong>Metode Pembayaran:</strong><br>
                        <br>
                        
                    </address>
    				</div>
    				<div class="col-xs-6 text-right">
    					<address>
        					<strong>Dikirim ke:</strong><br>
    						<br>
    						<br>
    						<br>
    						
    					</address>
    				</div>
    			</div>
    			<br>
    			<div class="row">
    				<div class="col-md-12">
    					<div class="table-responsive">
    						<table class="table table-condensed" border="0">
    							<thead style="background: #3F51B5; color: white; ">
    								<tr>
                                    <td>No</td>    
    								<td>Item</td>
    								<td class="text-center"  >Harga</td>
    								<td class="text-center" >Qty</td>
    								<td class="text-right">Total Harga</td>
    								</tr>
    							</thead>
    							<tbody>
                               
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center" ></td>
                                    <td class="text-center"></td>
                                    <td class="text-right"></td>
                                </tr>
                             
    							
    							<tr>
    								<td colspan="3" class="no-line" ></td>
    								<td class="text-center no-line">Sub Total</td>
    								<td class="text-right"></td>
    							</tr>
    							<tr>
    								<td colspan="3"></td>
    								<td class="no-line text-center ">Total</td>
    								<td class="no-line text-right"></td>
    							</tr>
    							</tbody>
    						</table>
    					</div>
    				</div>
    			</div>
    			<div class="clearfix"></div><br>
            	<div class="row">
                	<div class="col-xs-12 text-right">
                    	<a href="#" target="_blank" class="btn btn-success btn-md"><i class="fa fa-print"></i> &nbsp; Print </a>        
                    	<a href="#" target="_blank" class="btn btn-primary btn-md"><i class="fa fa-send"></i> &nbsp; Proceed to payment </a>        
               	 	</div>
            	</div>
			</div>
		</div>
	</div>
</div><!--/.row-->
</div>